docopt==0.6.2
jsonpickle==0.9.6
munch==2.2.0
numpy==1.14.0
protobuf==3.5.1
PyYAML==3.12
sacred==0.7.2
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
tensorboardX==1.0
torch==0.3.1
wrapt==1.10.11
